<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="body">

    <link name="base_link"/>

    <joint name="base_to_lower_body_fixed_joint" type="fixed">
      <parent link="base_link"/>
      <child link="lower_body_link"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="lower_body_link">
      <visual>
        <origin xyz="0.0 0.0 0.006" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://robinion_description/meshes/lower_body_visual.stl"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="-0.007 0.0 0.032" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.114 0.152 0.056" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="-0.007122 0.000256 0.034914" rpy="0.0 0.0 0.0"/>
        <mass value="0.960747"/>
        <inertia
          ixx="0.002662" ixy="0.000002" ixz="0.000113"
          iyy="0.001197" iyz="0.000003"
          izz="0.002578"/>
      </inertial>
    </link>

    <joint name="torso_pitch_joint" type="revolute">
      <parent link="lower_body_link"/>
      <child link="upper_body_link"/>
      <origin xyz="0.019 0.0245 0.07675" rpy="0.0 0.0 0.0"/>
      <axis xyz="0 1 0"/>
      <limit velocity="3.14" effort="10.6" lower="-0.52" upper="${pi*0.5}"/>
      <dynamics damping="0.1" friction="0.0"/>
    </joint>

    <link name="upper_body_link">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://robinion_description/meshes/upper_body_visual.stl"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="-0.027 -0.0245 0.095" rpy="0.0 0.0 0.0"/>
        <geometry>
          <box size="0.113 0.172 0.135" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="-0.029870 -0.024411 0.123492" rpy="0.0 0.0 0.0"/>
        <mass value="1.234139"/>
        <inertia
          ixx="0.006795" ixy="0.000000" ixz="-0.000098"
          iyy="0.003101" iyz="-0.000005"
          izz="0.006100"/>
      </inertial>
    </link>

    <joint name="imu_fixed_joint" type="fixed">
      <parent link="upper_body_link"/>
      <child link="imu_link"/>
      <origin xyz="-0.021 -0.025 0.122" rpy="0.0 0.0 0.0"/>
    </joint>

    <link name="imu_link"/>

  </xacro:macro>

</robot>